:root {
  --font-sans: -apple-system, BlinkMacSystemFont, sans-serif;
  --color-primary: #fb8500;
  --color-secondary: #219ebc;
  --color-background: #8ecae6;
  --color-text: #023047;
}

body {
  background: var(--color-background);
  font-size: var(--scale-fluid-4);
  font-family: var(--font-sans);
  display: flex;
  justify-content: center;
  align-items: center;
}

#counter{
  padding: var(--size-6); 
}

button {
  padding: var(--size-1) var(--size-6);
  background: var(--color-primary);
  border: 0;
  border-radius: var(--radius-xs);
  box-shadow: var(--shadow-xs);
}

button:hover {
  background: var(--color-secondary);
}

.counter-value {
  font-weight: 600;
  font-size: var(--scale-fluid-4);
  padding: 0 var(--size-4);
}
