{{ define "header" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Go Hyper</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link defer href="/static/dist/main.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nova+Script&display=swap" rel="stylesheet">
</head>

<body>
  {{ end }}
